.App {
  position: relative;
}

.header {
  position: relative; /* 이미지 위치 조정을 위해 추가 */
  background-color: #fff; 
  
  padding: 40px 140px;
  color: #000;
  border-bottom: 2px solid #ccc;
}

.logo {
  position: absolute;  /* 절대 위치 */
  top: 15px;  /* 위에서 10px */
  left: 20px;  /* 왼쪽에서 10px */
  width: 80px;  /* 넓이 50px */
  height: auto;  /* 높이는 자동으로 설정 */
}

.user-address {
  top: 10px;
  left: 50px;
  height: auto;

}


#map {
  margin-top: 20px;
}


.add-errand-button {
  position: absolute;      /* This ensures the button floats on top of other content */
  top: 150px;               /* Adjust as needed to position from the top */
  left: 20px;             /* Adjust as needed to position from the right */
  padding: 10px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000; 
}







.hover-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
}


.zoom-button-container {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 100; /* Optional: To make sure the buttons appear above the map */
}

.zoom-button {
  margin: 5px;
  padding: 10px 20px;
}

.toggle-button {
  position: absolute;
  top: 40px;
  right: 80px;
  z-index: 100;
  cursor: pointer;
}

.right-nav {
  position: absolute;
  top: 105px;
  right: 0;
  width: 200px;
  height: 100%;
  background-color: #f2f2f2;
  z-index: 50;
  padding: 20px;
  overflow-y: auto;
  box-shadow: -2px 0 5px rgba(0,0,0,0.1);
  transition: background-color 0.3s ease-in-out, right 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.right-nav.open {
  right: 0; /* Slide in the navigation bar when it's open */
}

.right-nav h2 {
  margin-top: 0;
}

.right-nav ul {
  list-style: none;
  padding: 0;
}

.right-nav li {
  margin-bottom: 10px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.profile-section {
  text-align: center;
  margin-top: 20px;
}

.profile-picture {
  width: 100px; /* 프로필 사진 크기 */
  height: auto;
  border-radius: 50%; /* 원형 */
}

.profile-points {
  margin-right: 1000px;
  margin-top: -25px;
  font-size: 1.2rem;
  font-weight: bold;
}

.profile-name {
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: bold;
}

.confirm-location-button {
  background-color: transparent; /* Transparent background */
  border: 2px solid #000; /* Add border, you can change color as needed */
  color: #000; /* Text color, you can change as needed */
  padding: 10px 20px; /* Padding for top/bottom, left/right */
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px; /* External margins */
  cursor: pointer; /* Cursor changes to hand icon when you hover over it */
  border-radius: 4px; /* Rounded corners */
}

